<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884802526036-k5nqtskkc30la0pbcfft9h4mdeat12pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884802526036-k5nqtskkc30la0pbcfft9h4mdeat12pr</string>
	<key>API_KEY</key>
	<string>AIzaSyAgeWf6RTT41_c-mqjNzlA1zbvnJ__VAQE</string>
	<key>GCM_SENDER_ID</key>
	<string>884802526036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pechincha.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pechincha-43bc0</string>
	<key>STORAGE_BUCKET</key>
	<string>pechincha-43bc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884802526036:ios:93f996533ac1c005d706c1</string>
</dict>
</plist>